<div class="container form jumbotron" style="box-shadow: black 20px 20px 100px 20px ;">
    <div class="p-3"><a routerLink="../department" class="float-right text-black text-decoration-none"><span class="btn btn-light" style="cursor: pointer;">Close &times;</span></a></div><br>
<form method="post" class="p-3">
    <div class="h2 text-center bg-light">
        Department  Details
    </div>
    <!-- <div class="form-group">
        <label for="Id">Id:</label>
        <input type="text" class="form-control" id="id" name="id">
    </div> -->
    <div class="form-group">
        <label for="name">Department Name:</label>
        <input type="text" class="form-control" id="dept-name" name="name">
    </div>
    <div>
    <input type="reset" value="Reset" class="btn btn-outline-secondary">
    <input type="button" value="Add" id="submit" class="btn btn-outline-primary"style="float:right;">
    </div>
    
</form>    
</div>
