<div class="container mt-5">
    <div class="card row p-5" style="box-shadow: gray 5px 5px 10px 10px;">
        <h1 class="text-center text-uppercase fs-1 text-black-50" style="font-size: 3rem;">Welcome to Home Page</h1>
        <hr style="box-shadow: gray 5px 5px 10px 8px;">
        <br>
        
        <div class="card-body bg-dark p-5">
            <h1 class="text-white text-center text-warning h1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae esse iusto repudiandae ducimus ut inventore nesciunt. Consectetur quas repellat officiis sunt, suscipit, iste ad quia quam in repudiandae quisquam? Doloremque voluptatem rem laborum eligendi reiciendis at a repudiandae quisquam libero aspernatur adipisci, nostrum odit rerum doloribus consectetur enim nisi dolorum.</h1>
        </div>
    </div>
</div>