<div class="container mt-5 jumbotron" style="box-shadow:gray 20px 20px 100px 0px ;">
  <!-- top bar  -->
  <div class="row">
    <div class="col-4">
      <form method="get">
        <div class="row">
          <!-- <input type="search" class="form-control col-8" name="search" id="search"> -->
          <!-- <input type="reset" class="col-2 btn btn-outline-secondary" value="Clear"> -->
        </div>
      </form>
    </div>
    <div class="col-8">
      <a routerLink="../add-dep" class="btn btn-outline-primary float-right">+</a>
    </div>
  </div>
  <!-- tobar end -->

  <div class="table pt-5  d-flex justify-content-center">
    <table class="border table-bordered" id="my-dep-Table">
      <thead class="text-uppercase text-center">
        <tr>
          <th>
            Department Name
          </th>
          <th colspan="2">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="text-capitalize" id="dep-tbody">
          
      </tbody>
    </table>

  </div>


</div>
