.form{
    width: 50%;
    position: relative;
    top:10% ;
    padding: 10px;
    margin: auto;
    border: 3px solid black;
    box-shadow: rgba(128, 128, 128, 0.205) 5px 5px;
    border-radius: 5px;
    z-index: 1;
}