<div class="container form">
    <div class="p-3"><a routerLink="../department" class="float-right text-black text-decoration-none"><span class="btn btn-light" style="cursor: pointer;">Close &times;</span></a></div><br>
<form method="post" class="p-3">
    <div class="h2 text-center bg-light" style="border: 1px solid gainsboro;">
        ADD
    </div>
    <div class="form-group">
        <label for="Id">Id:</label>
        <input type="text" class="form-control" id="id" name="id">
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="name">Age</label>
        <input type="number" min="0" class="form-control" id="age" name="age">
    </div>
    <div>
    <input type="reset" value="Reset" class="btn btn-outline-secondary">
    <input type="button" value="Submit" id="submit" class="btn btn-outline-primary"style="float:right;">
    </div>
    
</form>    
</div>
